.button {
    background-color: #FF6721;
    color: #FAF8F7;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 15px;
    width: 100%;
    max-width: 335px;
    font-weight: 600;
    cursor: pointer;
}