.button {
    background-color: #FF6721;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    width: 100%;
    max-width: 335px;
    cursor: pointer;
}