.container {
    max-width: 375px;
    height: 100vh;
    max-height: 812px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 28px 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.image {
    margin-bottom: 16px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 4px;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #525150;
    margin-bottom: 56px;
}