.container {
    max-width: 375px;
    height: 100vh;
    max-height: 812px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px 20px 80px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 56px;
}

.button {
    margin-top: 32px;
}